{% extends 'base/base.html' %}


{% block content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}

            {{form.as_p}}

           <!-- <div class="form-group">
                <label for="id_titulo">Titulo</label>
                {{form.titulo}}
            </div>

            <div class="form-group">
                <label for="id_Periodista">Periodista</label>
                {{form.Periodista}}
            </div>

            <div class="form-group">
                <label for="id_contenido">Contenido</label>
                {{form.contenido}}
            </div>

           

            <div class="form-group">
                <label for="id_Categoria">Categoria</label>
                {{form.Categoria}}
            </div>

            <div class="custom-file">
                <label for="id_imagen" >imagen</label>
                {{form.imagen}}
                
                {{form.imagen.errors}}
            </div>
-->
            <div class="text-center mt-3">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
{% endblock content %}
    