{% extends 'base/base.html' %}

{% load humanize %}
{% block title %}
    Inicio
{% endblock title %}
    
{% load staticfiles %}

{% block content %}
    
<div class="row my-5">
    {% for articulo in articulos %}
        
        <div class="card col-md-3 mx-2 mb-3 border-0 shadow-lg">
            <div class="card-img ">
                {%if not articulo.imagen%} 
                    <img src="{% static 'img/default_img.png' %}" class="img-fluid" >
                {% else %}
                    <img src="{{articulo.imagen.url}} " class=" img-fluid img" height="200px">
                {%endif%}
            </div>
            <div class="card-body m-3">
                <h5 class="mb-1">{{articulo.titulo}}</h5>
                <p class="text-info mb-1">Por: {{articulo.Periodista.nombre}} {{articulo.Periodista.apellido}}</p>
                <p>{{articulo.contenido|truncatechars:70}}</p>
            </div>
            <div class="card-footer">
                <em class="text-secondary">{{articulo.f_publicacion|naturaltime}}</em>
            </div>
        </div>
       
    {% endfor %}

</div>

<div class="row mt-3">
    
    {% if is_paginated %}
                
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{page_obj.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                    <a href="#" class="page-link ">&laquo;</a>
                </li>
            {% endif %}
            
            {% for page in paginator.page_range %}
                <li class="page-item {%if page_obj.number == page %} active {%endif%}"><a href="?page={{page}}" 
                    class="page-link ">{{page}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{page_obj.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link ">&raquo;</a>
            </li>
            {%endif%}
        </ul>
    </nav>
    {% endif %}

    
</div>
{% endblock content %}


    