{% extends 'base/base.html' %}

{% load humanize %}
{% block title %}
    Inicio
{% endblock title %}
    
{% load staticfiles %}

{% block content %}
<div class="container my-">
<div class="row my-5 justify-content-center">
    {% for articulo in articulos %}
       
        <div class="card col-md-3 mx-2 mb-3 border-0 shadow-lg"> 
           
            <div class="card-img ">
                {%if not articulo.imagen%} 
                    <img src="{% static 'img/default_img.png' %}" class="img-fluid" >
                {% else %}
                    <img src="{{articulo.imagen.url}} " class=" img-fluid img" height="200px">
                {%endif%}
            </div>
            <div class="card-body m-3">
                <h5 class="mb-1">{{articulo.titulo}}</h5>
                <p class="text-info mb-1">Por: {{articulo.Periodista.nombre}} {{articulo.Periodista.apellido}}</p>
                <p>{{articulo.contenido|truncatechars:70}}</p>
                <a class="text-decoration-none btn btn-sm btn-secondary" 
                href="{% url 'articulo:articulo_detalle' articulo.pk%}"> Ver más</a>
            </div>
            <div class="card-footer">
                <em class="text-secondary">{{articulo.f_publicacion|naturaltime}}</em>
            </div>
        </div>
       
    {% endfor %}

</div>

<div class="row mt-3 justify-content-center">
    
    {% include 'base/paginacion.html' %}
    
</div>
</div>
{% endblock content %}


    